<section class="home-container">
<div class="overlay">
    <div class="home-content">
    <h1 class="animated-text">I'm <span class="name">Arwa Mahmoud</span></h1>
    <p class="subtitle">Programming instructor | Computer Engineering</p>
    <p> </p>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/eng-arwa-mahmoud/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/arwa.mahmoud.731216/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://wa.me/+201025226786" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="https://github.com/EngArwaMahmoud" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    </div>

    <div class="home-image">
    <!-- Add your image inside the assets folder and replace below -->
    <img src="assets/Arwa.jpg" alt="Profile Photo">
    </div>
</div>
</section>
