    <!-- ResumeComponent.html -->
    <section class="resume-section" id="resume">
    <h2 class="section-title">My Resume</h2>

    <!-- Intro Section -->
    <div class="intro" data-aos="fade-up">
        <h3>Arwa Mahmoud</h3>
        <p>Computer Engineering Student | Web Developer | Programming Instructor</p>
        <strong style="color: white;">Email:</strong>
        <a href="mailto:arwam3562@gmail.com"  style="color: #fcdc25;" > arwam3562@gmail.com</a>
    </div>

    <!-- Education Section -->
    <div class="edu-exp-section" data-aos="fade-right">
        <h3>🎓 Education</h3>
        <div class="entry">
        <h4>Tanta University</h4>
        <span class="date">2023 - 2028</span>
        <p>Bachelor of Computer Engineering, Tanta University, Egypt </p>
        <p>Expected Graduation: 2028 |  GPA: 3.49 / 4 </p>
        </div>
    </div>

    <!-- Work Experience Section -->
    <div class="edu-exp-section" data-aos="fade-left">
        <h3>💼 Work Experience</h3>
        <div class="entry">
        <h4>Programming Instructor, Sky Academy, Tanta, Egypt</h4>
        <span class="date">2025 - Present</span>
        <p>Teaching web development fundamentals to children and university students through interactive learning.</p>
        </div>
        <div class="entry">
        <h4> Trainer, Freelancing</h4>
        <span class="date">2024 - Present</span>
            <p>• Providing offline workshops at the faculty of Engineering for 35 students (HTML & CSS). (10 hours)</p>
            <p>• Providing an online workshop for 90 students on Front-End Development (HTML & CSS). (50 hours) </p>
            <p>• Providing an online workshop for 25 students on Time Management. </p>
            <p>• Providing an offline workshop for 95 students on Time Management, UCCD & Faculty of IT</p>
            <p>• Providing an online workshop for 45 students on Visual Basic programming.</p>
        </div>

            <div class="entry">
        <h4> programming Instructor, Techy school, Tanta, Egypt </h4>
        <span class="date">Jun 2024 - Oct 2024</span>
            <p>• Facilitate students' understanding of complex programming concepts.</p>
            <p>• Design quizzes at the beginning of the session to review what has been taken . </p>
            <p>• Helping students design their own website . </p>
            <p>• Dealing with many students patiently </p>
        </div>

    </div>


    <!-- Certificates & Courses -->
    <div class="edu-exp-section" data-aos="fade-up">
        <h3>📜 Certificates & Courses</h3>
        <ul class="bullet-list">
        <li>NTI MEAN Stack Internship</li>
        <li>Front end development (HTML, CSS, JS ), ITI, (online)</li>
        <li>C++ Advanced - Online</li>
        <li>OOP & DataStructure - Online</li>
        <li>Python - Cisco Networking Academy</li>
        <li>Training of trainers (TOT), IBCT, (online) </li>
        <li>Microsoft Office Specialist (Word, Excel, PowerPoint), YAT, Tanta, Egypt (99 hour) </li>
    </ul>
    </div>


    <!-- Programming Languages -->
    <div class="edu-exp-section" data-aos="fade-left">
        <h3>💻 Programming Languages</h3>
        <ul class="bullet-list">
        <li>HTML5 / CSS3 / JavaScript</li>
        <li>TypeScript / Angular</li>
        <li>Python</li>
        <li>C++</li>
        </ul>
    </div>

    <!-- Download CV -->
    <div class="download-cv" data-aos="zoom-in">
        <a href="assets/My-CV.pdf" download class="btn">Download My CV</a>
    </div>
    </section>